* {
  margin:0; 
  padding:0;
}
li {
  list-style: none;
}
.kind_wrap {  
  width:100%;
  max-width:500px;  
  margin:0 auto; 
  position: relative;
}
.kind_wrap > .kind_slider {
  overflow: hidden;
}
.kind_wrap > .kind_slider .slider { 
  position: flex; 
  transition: 0.7s; 
} 
.kind_wrap > .kind_slider .slider li {
  float:left;
 
}
.kind_wrap > .kind_slider li img {
  vertical-align: top;
  width:100%;
  height: auto;
  object-fit: cover;
}
  
  
.kind_wrap .arrow > a.prev {
  position: absolute; 
  left:-50px; 
  top:100px;
}
.kind_wrap .arrow > a.next {
  position: absolute; 
  right:-50px; 
  top:100px;
}